<!DOCTYPE html>
<html>
  <head>
    <title>COhPy Temperatures</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="wrapper clearfix">
      <div class="row clearfix">
        <h1>COhPy Temperatures!</h1>
        <p>{{ data }}</p>
        <svg height="501.25" width="802"></svg> 
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/d3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/graph.js')}}"></script>
  </body>
</html>